@import url(//at.alicdn.com/t/font_2487788_qc7p7usderp.css);
body,
code,
dd,
div,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
html,
input,
li,
p,
pre,
textarea,
ul {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: PingFangSC-Regular, Microsoft YaHei, Helvetica Neue, Helvetica,
    Arial, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
body,
html {
  height: 100%;
}

#app {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -ms-flex-align: stretch;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.col-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.col-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.col-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-top {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.iconfont {
  font-size: inherit;
  -webkit-text-stroke-width: 0;
}

.link {
  color: #5e80eb;
  cursor: pointer;
}

.ml-10 {
  margin-left: 10px;
}

.green {
  color: #00d1a0;
}

.blue {
  color: #5e80eb;
}

.orange {
  color: #fe703f;
}

.purple {
  color: #875bfc;
}

.black {
  color: #333;
}

.success {
  color: #67c23a;
}

.warning {
  color: #eb9e05;
}

.error {
  color: #f56c6c;
}

.svg_select_points_lt {
  cursor: nw-resize;
}

.svg_select_points_rt {
  cursor: ne-resize;
}

.svg_select_points_rb {
  cursor: se-resize;
}

.svg_select_points_lb {
  cursor: sw-resize;
}

.svg_select_points_t {
  cursor: n-resize;
}

.svg_select_points_r {
  cursor: e-resize;
}

.svg_select_points_b {
  cursor: s-resize;
}

.svg_select_points_l {
  cursor: w-resize;
}

.svg_select_points_rot {
  stroke-width: 1;
  stroke: #000;
  fill: #f9ffed;
}

.svg_select_points_point {
  cursor: move;
}

.svg_select_boundingRect {
  stroke-width: 1;
  fill: gray;
  stroke-dasharray: 1 3;
  stroke: #000;
  stroke-opacity: 0.6;
  fill-opacity: 0.1;
  pointer-events: none;
}

.el-autocomplete .el-input-group__append,
.el-autocomplete .el-input-group__prepend,
.el-input .el-input-group__append,
.el-input .el-input-group__prepend,
.el-input__inner {
  padding: 0 12px;
}

.el-autocomplete.align-right .el-input__inner,
.el-input.align-right .el-input__inner {
  padding-right: 0;
  text-align: right;
}

.el-autocomplete.border-bottom.el-input--suffix .el-input__inner,
.el-input.border-bottom.el-input--suffix .el-input__inner {
  padding-left: 0;
}

.el-autocomplete.border-bottom.el-input--suffix .el-input__suffix,
.el-input.border-bottom.el-input--suffix .el-input__suffix {
  right: 0;
}

.el-autocomplete.border-bottom.el-input--prefix .el-input__inner,
.el-input.border-bottom.el-input--prefix .el-input__inner {
  padding-left: 30px;
  padding-right: 0;
}

.el-autocomplete.border-bottom.el-input--prefix .el-input__prefix,
.el-input.border-bottom.el-input--prefix .el-input__prefix {
  left: 0;
}

.el-autocomplete.border-bottom.border-white .el-input__inner,
.el-input.border-bottom.border-white .el-input__inner {
  border-top-color: #fff !important;
  border-left-color: #fff !important;
  border-right-color: #fff !important;
}

.el-autocomplete.border-bottom .el-input__inner,
.el-input.border-bottom .el-input__inner {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-radius: 0;
  padding-left: 0;
  background-color: transparent;
}

.el-autocomplete.border-bottom .el-input-group__append,
.el-input.border-bottom .el-input-group__append {
  background: none;
  border: none;
}

.el-autocomplete.border-none .el-input__inner,
.el-input.border-none .el-input__inner {
  border-color: transparent !important;
}

.el-autocomplete.is-disabled .el-input__inner,
.el-input.is-disabled .el-input__inner {
  background-color: transparent;
  color: #606266;
}

.el-autocomplete.pointer .el-input__inner,
.el-input.pointer .el-input__inner {
  cursor: pointer;
}

.el-textarea.border-bottom .el-textarea__inner {
  padding: 5px 15px 5px 0;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-radius: 0;
}

.el-textarea.border-none .el-textarea__inner {
  border-color: transparent !important;
}

.el-textarea.is-disabled .el-textarea__inner {
  background-color: transparent;
  color: #606266;
}

.el-switch .el-switch__label span {
  font-size: 12px;
  padding-left: 8px;
}

.el-cascader.border-bottom .el-input__inner {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-radius: 0;
  background: none;
}

.el-select.border-bottom .el-input--suffix .el-input__inner {
  padding-left: 0;
}

.el-select.border-bottom .el-input--suffix .el-input__suffix {
  right: 0;
}

.el-select.border-bottom .el-input__inner {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-radius: 0;
  background: none;
}

.el-select.border-none .el-input__inner {
  border-color: transparent !important;
}

.el-select.border-right .el-input__inner {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  border-radius: 0;
  background: none;
}

.el-date-editor,
.el-date-editor .el-range-input {
  background: none;
}

.el-date-editor.border-bottom {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-radius: 0;
}

.el-date-editor.border-bottom .el-range__icon {
  margin-left: -10px;
}

.el-date-editor.border-none {
  border-color: transparent !important;
}

.el-month-table td {
  padding: 10px 0;
}

.el-month-table td.in-range div {
  background: #f2f6fc;
  padding: 5px 3px;
}

.el-month-table td.start-date div {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.el-month-table td.end-date div {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.el-month-table td .cell {
  width: 60px;
  height: 36px;
  display: block;
  line-height: 36px;
  color: #606266;
  margin: 0 auto;
  border-radius: 18px;
}

.el-cascader-menus .el-cascader-menu__item {
  max-width: 200px;
}

.el-checkbox {
  font-size: 12px;
}

.el-checkbox.is-bordered {
  position: relative;
  margin-right: 8px;
}

.el-checkbox.is-bordered.is-checked:before {
  content: "\e6da";
  position: absolute;
  bottom: 0;
  right: -4px;
  z-index: 2;
  line-height: 1;
  font-family: element-icons !important;
  color: #fff;
}

.el-checkbox.is-bordered.is-checked:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
}

.el-checkbox.is-bordered + .el-checkbox.is-bordered {
  margin-left: 0;
}

.el-checkbox.is-bordered .el-checkbox__input {
  position: absolute;
  outline: 0;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1;
  overflow: hidden;
}

.el-checkbox .el-checkbox__label,
.el-radio .el-radio__label {
  font-size: 12px;
  padding-left: 8px;
}

.el-radio-group.border-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 31px;
  border-bottom: 1px solid #dcdfe6;
}

.el-upload-group .el-upload--picture-card,
.el-upload-group .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.el-popover {
  min-width: 100px;
}

.el-tooltip__popper {
  max-width: 1000px;
}

.el-tooltip__popper.is-warning {
  background: #eb9e05;
  color: #fff;
}

.el-tooltip__popper.is-warning[x-placement^="top"] .popper__arrow,
.el-tooltip__popper.is-warning[x-placement^="top"] .popper__arrow:after {
  border-top-color: #eb9e05;
}

.el-tooltip__popper.is-warning[x-placement^="bottom"] .popper__arrow,
.el-tooltip__popper.is-warning[x-placement^="bottom"] .popper__arrow:after {
  border-bottom-color: #eb9e05;
}

.el-tooltip__popper.is-warning[x-placement^="left"] .popper__arrow,
.el-tooltip__popper.is-warning[x-placement^="left"] .popper__arrow:after {
  border-left-color: #eb9e05;
}

.el-tooltip__popper.is-warning[x-placement^="right"] .popper__arrow,
.el-tooltip__popper.is-warning[x-placement^="right"] .popper__arrow:after {
  border-right-color: #eb9e05;
}

.el-link {
  font-size: 12px;
}

.el-table tr.unPass-row {
  background: #ffe5e5;
}

.el-table tr.totalTr {
  background: #f0f8ff;
}

.el-table .el-table__fixed {
  background: #fff;
}

.el-table.design-table table {
  border-collapse: collapse;
}

.el-table.design-table th {
  background: #f5f7fa;
}

.el-table.design-table td {
  border-right: none;
  border-left: none;
}

.el-table.normal th,
.el-table.report-table th {
  border-left: 0;
  border-right: 0;
  background: #f4f4f4;
}

.el-table.normal th + th .cell,
.el-table.report-table th + th .cell {
  border-left: 1px solid #c7cbd3;
}

.el-table.normal {
  border: 0;
}

.el-table.normal
  .el-table__body-wrapper
  .el-table__body
  tbody
  .el-table__row
  .cell
  .icon-checkbox-checked,
.el-table.normal
  .el-table__body-wrapper
  .el-table__body
  tbody
  .el-table__row
  .cell
  .icon-radio-checked {
  color: #00d1a0;
}

.el-table.normal td {
  border-left: 0;
  border-right: 0;
}

.el-table.small-table .el-table__body-wrapper .el-table__body tbody tr td,
.el-table.small-table .el-table__header-wrapper .el-table__header thead tr th {
  padding: 2px 0;
}

.el-table.small-table .cell {
  line-height: 20px;
}

.el-table.small-table .bottom {
  padding: 4px 15px;
}

.small-table .el-table .el-table__body-wrapper .el-table__body tbody tr td,
.small-table .el-table .el-table__header-wrapper .el-table__header thead tr th {
  padding: 2px 0;
}

.small-table .el-table .cell {
  line-height: 20px;
}

.small-table .el-table .bottom {
  padding: 4px 15px;
}

.el-form.el-form--label-left .el-form-item__label {
  padding-left: 20px;
}

.el-form.el-form--label-left
  .el-form-item.is-required:not(.is-no-asterisk)
  > .el-form-item__label:before {
  margin-left: -10px;
}

.el-form.el-form--label-top
  .el-form-item.is-required:not(.is-no-asterisk)
  > .el-form-item__label:before {
  content: none;
}

.el-form.el-form--label-top
  .el-form-item.is-required:not(.is-no-asterisk)
  > .el-form-item__label:after {
  content: "*";
  color: #f56c6c;
  margin-left: 4px;
}

.el-form.el-form--label-top.form-question
  .el-form-item
  .el-form-item__label
  .label-question {
  display: inline-block;
}

.el-form.el-form--inline .el-form-item,
.el-form.el-form--label-top.form-question
  .el-form-item
  .el-form-item__label
  .label-question
  .label-question-icon {
  margin-right: 0;
}

.el-form.el-form--inline .el-form-item.is-required .el-form-item__label {
  text-indent: -1em;
}

.el-form.el-form--label-top .el-form-item__label {
  padding-bottom: 0;
}

.el-form .el-form-item__label {
  font-size: inherit;
}

.el-form.form-question .el-form-item__label {
  padding-right: 30px;
}

.el-form.form-question .el-form-item__label .label-question {
  display: inline-block;
}

.el-form.form-question
  .el-form-item__label
  .label-question
  .label-question-icon {
  margin-right: -20px;
  font-size: 14px;
  color: #999;
}

.el-tree.normal,
.el-tree.normal .el-tree-node .el-tree-node__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100%;
}

.el-tree.normal .el-tree-node .el-tree-node__content {
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.el-tree.normal .el-tree-node .el-tree-node__content .el-tree-node__label {
  font-size: 12px;
}

.el-tree.normal .el-tree-node .el-tree-node__content .is-leaf {
  visibility: hidden;
}

.el-tree.normal .el-tree-node > .el-tree-node__children {
  overflow: visible;
}

.el-upload-group.drag-upload .el-upload.el-upload--text,
.el-upload-group.drag-upload .el-upload.el-upload--text .el-upload-dragger {
  width: 100%;
}

.pictrue-uploader
  .el-upload-list.el-upload-list--picture-card
  .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.pictrue-uploader .el-upload.el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.pictrue-drag-uploader .el-upload-list--picture-card {
  display: block;
  width: 100%;
}

.pictrue-drag-uploader .el-upload.el-upload--picture-card {
  width: 100%;
  border: none;
  line-height: 50px;
}

.pictrue-drag-uploader .el-upload.el-upload--picture-card .el-upload-dragger {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.pictrue-drag-uploader
  .el-upload.el-upload--picture-card
  .el-upload-dragger
  .el-icon-upload {
  margin: 0 10px;
}

.wy-layout-page-tab .el-tabs--top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wy-layout-page-tab .el-tabs--top .el-tabs__header {
  position: relative;
  background: #fff;
  height: 48px;
  line-height: 50px;
  padding: 0 18px 0 40px;
  margin-bottom: 0;
}

.wy-layout-page-tab .el-tabs--top .el-tabs__content {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 10px;
  background: #fff;
}

.wy-layout-page-list .content .page-tab .el-tabs__header .el-tabs__nav-wrap {
  padding-left: 20px;
}

.wy-layout-page-list .content .page-tab .el-tabs__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.el-icon-question-after:after {
  content: "\e634";
}

.status-disabled {
  color: red;
}

.icon-checkbox-normal {
  color: #999;
}
